@import 'variables';
@import 'mixins';

input, textarea, select, button {
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
}

h6, .h6 {
  @extend .text-muted;
  font-weight: $font-weight-light;
}

.lh-0 {
  line-height: 1 !important;
}

.text-spacing {
  letter-spacing: 1px;
}

.btn-link {
  text-decoration: none !important;
  &.focus-visible {
    color: $link-hover-color;
  }
}

.btn-link-plain {
  @extend .btn-link;
  padding: 0;
  border-width: 0;
}

.nav-link {
  line-height: $nav-link-line-height;
  font-size: $nav-link-font-size;
}

@mixin fixed-position($height) {
  &.fixed-top {
    & + .content {
      margin-top: $height;
    }
    & + & {
      top: $height;
      & + .content {
        margin-top: ($height * 2);
      }
    }
  }
}

.navbar {
  border-bottom: solid $border-width transparent;
  padding-bottom: calc(#{$navbar-padding-y} - #{$border-width});

  @include fixed-position($navbar-height);

  &.fixed-top {
    box-shadow: $component-shadow;
    & + & {
      z-index: ($zindex-fixed - 1);
    }
  }

  &-dark {
    border-color: rgba($white, $border-color-alpha);
  }

  &-light {
    border-color: rgba($black, $border-color-alpha);
  }

  &-toggler {
    border: none;
  }

  &-nav {
    flex-direction: row;

    .dropdown-menu {
      position: absolute;
    }

    .dropdown-menu-right {
      right: 0;
      left: auto; // Reset the default from `.dropdown-menu`
    }

    .nav-link {
      font-size: $navbar-link-font-size;
      line-height: $navbar-link-line-height;
      padding: $navbar-link-padding-y $navbar-link-padding-x;
      margin-left: $navbar-link-margin-x;
      margin-right: $navbar-link-margin-x;

      &-icon {
        font-size: $navbar-link-icon-size;

        & + .nav-link-label {
          margin-left: $navbar-link-icon-label-margin;
        }
      }
      &-label + .nav-link-icon {
        margin-right: $navbar-link-icon-label-margin;
      }
    }

    .nav-link {
      @include not-disabled {
        &.active {
          color: $primary;
        }
      }
    }
  }

  &-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
      $next: breakpoint-next($breakpoint, $grid-breakpoints);
      $infix: breakpoint-infix($next, $grid-breakpoints);

      &#{$infix} {
        @include media-breakpoint-down($breakpoint) {
          padding-top: $navbar-padding-y-collapse;
          padding-bottom: calc(#{$navbar-padding-y-collapse} - #{$border-width});
          padding-right: $navbar-padding-x-collapse;
          padding-left: $navbar-padding-x-collapse;

          @include fixed-position($navbar-height-collapse);

          .expand-only {
            display: none;
          }
          .navbar-nav {
            .nav-link {
              font-size: $navbar-link-font-size-collapse;
              line-height: $navbar-link-line-height-collapse;
              padding: $navbar-link-padding-y-collapse $navbar-link-padding-x-collapse;
              margin-right: $navbar-link-margin-x-collapse;
              margin-left: $navbar-link-margin-x-collapse;
              &-icon {
                font-size: $navbar-link-icon-size-collapse;
              }
            }
          }
        }
        @include media-breakpoint-up($next) {
          .collapse-only {
            display: none;
          }
        }
      }
    }
  }
}

.input-group {
  &-prepend, &-append {
    .btn {
      z-index: 6; // Ensure focused input doesn't overlap addons
    }
  }
}

.dropdown-item {
  @include hover {
    cursor: pointer;
  }
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
*/
.js-focus-visible :focus {
  &:not(.focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
  }
  &.focus-visible {
    position: relative;
    z-index: 5 !important;
  }
}

.flat:not(.focus-visible) {
  box-shadow: none !important;
}

@each $theme, $value in $theme-colors {
  $text-color: color-yiq($value);
  $value-hover: lighten($value, $hover-color-lighten);
  $value-active: lighten($value, $active-color-lighten);
  .btn-#{$theme} {
    @include focus {
      background-color: $value;
    }
    @include button-variant(
      $value, bg-border-color($value),
      $value-hover, bg-border-color($value-hover),
      $value-active, bg-border-color($value-active));
    @include hover {
      color: $text-color;
    }
    @include btn-variant-active {
      color: $text-color;
    }
  }
  .btn-outline-#{$theme} {
    @include focus {
      background-color: $component-bg;
    }
    @include button-outline-variant($value, $value-hover,
      $component-active-bg, $value-active);
    background-color: $component-bg;
    @include hover {
      background-color: $component-hover-bg;
    }
    box-shadow: $btn-box-shadow;
    @include btn-variant-active {
      color: $value-active;
      box-shadow: $btn-active-box-shadow;
    }
  }
}

.btn-ultra-dark {
  @include focus {
    box-shadow: $btn-box-shadow, $btn-focus-box-shadow;
  }
  @include btn-variant-active {
    @include focus {
      box-shadow: $btn-active-box-shadow, $btn-focus-box-shadow;
    }
  }
}

.border-dashed {
  border-style: dashed;
}

th {
  font-weight: $headings-font-weight;
}

.form-control {
  font-weight: $font-weight-base;
}

// Custom gutter width classes `gutter[x|y]-[{breakpoint}-]{size}`
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .row {
      @each $size, $width in $grid-gutter-widths-custom {
        $value: ($width / 2);
        &.gutter-x#{$infix}-#{$size}, &.gutter#{$infix}-#{$size} {
          margin-left: -$value;
          margin-right: -$value;
          @include col {
            padding-left: $value;
            padding-right: $value;
          }
        }
        &.gutter-y#{$infix}-#{$size}, &.gutter#{$infix}-#{$size} {
          margin-top: -$value;
          margin-bottom: -$value;
          @include col {
            padding-top: $value;
            padding-bottom: $value;
          }
        }
      }
    }
  }
}

%menu-action {
  border-radius: 0;
  box-shadow: none;
  transition: none !important;
  @include focus {
    z-index: inherit;
  }
  @include hover {
    box-shadow: none;
    z-index: 1;
  }
  @include not-disabled {
    &:active {
      z-index: 2;
      box-shadow: none;
    }
    &.active {
      box-shadow: none;
      z-index: 3;
      border-color: $primary;
      @include focus {
        box-shadow: 0 0 0 ($btn-focus-width + $border-width) rgba($primary, .5);
      }
    }
  }
  @include disabled {
    z-index: inherit;
  }
}

.grid-cell {
  border: solid $border-width $border-color;
}
button.grid-cell {
  @extend %menu-action;
}

.grid-group {
  padding: 0;
  overflow: hidden;

  > .row {
    margin: (-$border-width) 0 0 (-$border-width);

    @include col {
      padding: 0;
      overflow: visible;
      > .grid-cell {
        position: relative;
        display: block;
        padding: 0;
        margin: 0;
        width: calc(100% + #{$border-width});
        height: calc(100% + #{$border-width});
      }
    }

    @each $size, $width in $grid-gutter-widths-custom {
      $value: ($width / 2);
      &.gutter-x-#{$size}, &.gutter-#{$size} {
        @include col {
          > .grid-cell {
            padding-left: $value;
            padding-right: $value;
          }
        }
      }
      &.gutter-y-#{$size}, &.gutter-#{$size} {
        @include col {
          > .grid-cell {
            padding-top: $value;
            padding-bottom: $value;
          }
        }
      }
    }
  }
}

.card {
  box-shadow: $component-shadow;

  > .list-group {
    margin-left: (-$border-width);
    margin-right: (-$border-width);
    &:first-child {
      margin-top: (-$border-width);
    }
    &:last-child {
      margin-bottom: (-$border-width);
    }
  }

  > .table {
    &:first-child {
      margin-top: $border-radius;
      thead {
        tr:first-child {
          th {
            border-top: none;
          }
        }
      }
    }
    &:last-child {
      margin-bottom: $border-radius;
    }
    th, td {
      &:first-child {
        border-left: none;
      }
    }
  }
}

.card-header {
  border-bottom: $component-border;
}

.card-header, .list-group-item, td, th {
  @include heading-child {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dropdown-item {
  border: solid $border-width transparent;
  @extend %menu-action;
}

.list-group {
  > .collapse {
    margin-bottom: (-$border-width);
    &:not(:first-child) {
      > .list-group-item:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
    &:not(:last-child) {
      > .list-group-item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &-item {
    @include hover {
      z-index: inherit;
    }
    &.grid-group {
      border-width: 0;
      > .row {
        margin: 0;
        padding-right: $border-width;
        padding-bottom: $border-width;
      }
    }
    &.compact {
      padding: $list-group-item-compact-padding-y $list-group-item-compact-padding-x;
    }

    &-action {
      @extend %menu-action;
    }
  }
}

.table-striped tbody {
  td {
    // border: none !important;
  }
}

.table-accordian {
  border-collapse: collapse;
  tbody {
    tr.accordian {
      td {
        padding: 0;
        overflow: hidden;
        border-top: none;
        border-bottom: $component-border;
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
  &.table-striped {
    thead tr {
      @if $table-striped-order == even {
        background-color: $component-accent-bg;
      }
    }
    tbody tr {
      background-color: transparent;

      &.accordian {
        &, &:hover {
          $accordian-blur: 10px;
          $accordian-spread: (-8px);
          box-shadow:
            inset 0 (-$accordian-spread) $accordian-blur $accordian-spread $component-shadow-color,
            inset 0 $accordian-spread $accordian-blur $accordian-spread $component-shadow-color;
        }
      }

      @mixin accordian-row-style {
        &, & + .accordian, & + .accordian:hover {
          background-color: $component-accent-bg;
        }
      }
      @if $table-striped-order == odd {
        &:nth-of-type(4n+1) {
          @include accordian-row-style;
        }
      } @else {
        &:nth-of-type(4n-1) {
          @include accordian-row-style;
        }
      }
    }
  }
  &.table-hover tbody {
    cursor: pointer;
    tr {
      @include hover {
        background-color: $component-hover-bg;
        &.accordian {
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }
}

// Used to overlay disabled or loading content
.overlay {
  background-color: rgba($bg-color, $modal-backdrop-opacity);
  z-index: $zindex-overlay;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  min-height: 500px;
}
.modal-content {
  height: 100%;
  border-radius: $modal-content-border-radius;
}
.modal-header {
  .close {
    line-height: $modal-title-line-height;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  h1 ~ .close { font-size: $h1-font-size; }
  h2 ~ .close { font-size: $h2-font-size; }
  h3 ~ .close { font-size: $h3-font-size; }
  h4 ~ .close { font-size: $h4-font-size; }
  h5 ~ .close { font-size: $h5-font-size; }
  h6 ~ .close { font-size: $h6-font-size; }
}
.modal-text {
  @include media-breakpoint-up(lg) {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    text-align: left;
  }
}
